{{ $1 := replace . "http://" "" }}
{{ $2 := replace $1 "https://" "" }}
{{ $3 := replace $2 "www." "" }}
{{ $id := replace $3 "vimeo.com/" "" }}
<div style="padding:56.6% 0 0 0; width: 100%; position:relative;">
    <iframe src="https://player.vimeo.com/video/{{ $id }}?title=0&byline=0&portrait=0&badge=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
<!-- <script src="https://player.vimeo.com/api/player.js"></script> -->